<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mo on Life</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="icon" type="image/x-icon" th:href="@{/favicon.ico}" />
</head>
<body>
<!-- Include the header template fragment -->
<div th:replace="~{post/fragments/header :: header}"></div>

<div class="container">
    <div class="content-header">
        <h1>What's New?</h1>
    </div>
    <div class="content-body">
        <div th:each="post : ${posts}" class="post-item">
            <a th:href="@{/{year}/{month}/{day}/{slug}(year=${#temporals.format(post.createdAt, 'yyyy')},
                                                                month=${#temporals.format(post.createdAt, 'MM')},
                                                                day=${#temporals.format(post.createdAt, 'dd')},
                                                                slug=${post.slug})}"
               class="post-title" th:text="${post.title}">
            </a>
            <div class="post-meta">
                        <span>
    <span th:text="${#strings.capitalize(#strings.toLowerCase(T(java.time.Month).of(#temporals.month(post.createdAt)).name))}
                   + ' ' + ${#temporals.format(post.createdAt, 'dd')}
                   + ', ' + ${#temporals.format(post.createdAt, 'yyyy')}
                   + ' by ' + ${post.author}">
    </span>
    &nbsp; <!-- Boşluk eklemek için -->
    <i class="fa fa-eye"></i> <!-- Font Awesome göz ikonu -->
    <span th:text="${post.viewCount}"></span>
</span>
            </div>
            <div class="post-snippet" th:if="${post.content}" th:text="${#strings.length(post.content) > 200} ? ${#strings.substring(post.content, 0, 200) + '...'} : ${post.content}">
                A brief excerpt from the post will be displayed here...
            </div>
        </div>
    </div>
</div>

<div th:replace="~{post/fragments/footer :: footer}"></div>
</body>
</html>